# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/

# Videos y frames
clases/*.mp4
frames/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# uv
uv.lock
